body{
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: "微軟正黑體",sans-serif;
  }

h2{
  color: #647b71;
  margin:0,2vw;
}
.h2BG{
  background-color: #dfe9e4;
  padding: 5vh;
}
.resume{
    /* display: flex; */
    max-width: 80vw;
    border: solid 8px rgb(36, 18, 18);
    /* padding: 50px; */
    position: relative;
    margin: 2vw;
   
  }
.basic{
  background-color: #647b71;
  color: #fff;
  padding: 5vw;
}
.myface{
  position: relative;
  height: 75%;
  width: 70%;
}


img{
    position: relative;
    height: 25%;
    width: 30%;
  
}

.listSkill{
  display: flex;
  flex-wrap: wrap;
  
}
.skill{
  padding: 5vw;
}
.listSkill li{
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: rgba(159, 46, 95,0.4);
}
.circle::after{
  content: "";
  display: block;
  background-color: #532e88;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
.p90,.p180,.p270,.p360{
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #ec458e;
}
.p180{
  top: 50%;
}
.p270{
  left: 0;
  top: 50%;
}
.p360{
  left: 0;
  top: 0;
}

